/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [name]
      ,[id]
      ,[age]
      ,[address]
      ,[number]
      ,[state]
      ,[city]
  FROM [userreg].[dbo].[userreg]